---
# Configure Timerzone
icpc_timezone: 'Europe/Athens'

# Configure the ICPC admin password. Is this the system admin password or the password of the
# Tool they use to host the contest. Probably they create another user, apart from the team
# That has access to the contest server.
icpcadmin_pass: icpcadmin

devtools:
  - vscode

vscode_extensions:
  # Themes
  - akamud.vscode-theme-onedark
  - akamud.vscode-theme-onelight
  - tgreen7.one-monokai-dark
  - jprestidge.theme-material-theme

# Firefox policies. Documented here:
# https://mozilla.github.io/policy-templates/
firefox_default_policies:
  # Prevent updating (shouldn't happen on linux, but we want to avoid it anyway)
  DisableAppUpdate: true
  # What it says on the tin. This is to prevent a banner on first start about what it's sharing
  DisableTelemetry: true

  # Disable a bunch of random features we don't need
  DisablePocket: true
  DisableFirefoxStudies: true
  DisableFirefoxAccounts: true
  DisableFeedbackCommands: true
  NewTabPage: false
  NoDefaultBookmarks: true

  # Disable a bunch of messages
  UserMessaging:
    WhatsNew: false
    ExtensionRecommendations: false
    FeatureRecommendations: false
    UrlbarInterventions: false
    SkipOnboard: true
    MoreFromMozilla: false
    Locked: true

mysql_root_password: rootpw
mysql_user: domjudge
mysql_password: djpw
max_connections: 1000
mysql_database: domserver

auth_token: "1234"
