server {
    listen 80;
    server_name localhost;

    location / {
        if ($http_Authorization = "Bearer {{ auth_token }}") {
            proxy_pass http://{{ domserver_ip_address }};
        }
        if ($http_authorization != "Bearer {{ auth_token }}") {
            return 401;
        }
    }
}
