server {
    listen 80;
    server_name localhost;

    location / {
        # Allow requests from localhost without authorization
        if ($remote_addr = 127.0.0.1) {
            proxy_pass http://{{ domserver_ip_address }};
            break;
        }

        # Check Authorization header for other requests
        if ($http_authorization = "Bearer {{ auth_token }}") {
            proxy_pass http://{{ domserver_ip_address }};
            break;
        }

        # Return 401 Unauthorized if the authorization fails
        return 401;
    }
}

